.white-cell {
    background-color: yellow;
    height: 50px;
    width: 50px;
}

.black-cell {
    background-color: skyblue;
    height: 50px;
    width: 50px;
}

.show-mario {
    height: 50px;
    width: 50px;
}

.mario-image {
    height: 50px;
    width: 50px;
    visibility: hidden;
}

.mushroom-disappear {
    height: 50px;
    width: 50px;
    visibility: hidden;
}

.mushroom-image { 
    height: 50px;
    width: 50px;
}

